<body class="video-page">
  <div class="large-10 large-centered text-center columns video-player">
    <iframe src="<%=@video%>" width="740" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p class="video-info"><a href="https://vimeo.com/259280194">Tegan and Sam&#039;s Wedding Highlights - State Room Boston</a> from <a href="https://vimeo.com/pirateslanevideo">Pirates Lane Video</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</body>
