<body class="background">
  <h1 class="home-title"> The Burns Wedding -</h1>

  <%= link_to "Groomsmen", men_path, :class => "men" %>
  <%= link_to "Bridal Party", men_path, :class => "women" %>
  <%= link_to "Ceremony", men_path, :class => "ceremony" %>
  <%= link_to "Reception", men_path, :class => "reception" %>
</body>
