$primary-purple: #8442ff;

.groom-bg {
  background-image: image-url("0228.JPG");
  background-size: cover;
}

.behind-show-pic {
  text-align: center;
  background-image: image-url("groom/dark-triangles.png");
  border: 1px solid $primary-purple;
  border-top: 10px solid black;
  border-bottom: none;
  margin-top: 50px;
}
