$primary-white: #f0f0f0;
$primary-purple: #8442ff;
@import url('https://fonts.googleapis.com/css?family=Fondamento');
@import url('https://fonts.googleapis.com/css?family=Cantarell');

button:focus {outline:0;}

a {
  color: inherit;
}

.this {
    height: 100%;
    background-image: image-url("groom/dark-triangles.png");
}

.home-bg {
    height: 120%;
    background-image: image-url("0948.JPG");
    background-size: cover;
}
.home-title {
  color: $primary-white;
  font-family: 'Fondamento', cursive;
  font-style: italic;
  font-size: 60px;
  text-align: center;
}

.sub-title {
  color: $primary-white;
  font-family: 'Fondamento', cursive;
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

.men, .women, .ceremony, .reception, .family, .first-look, .misc, .video {
  color: $primary-white;
  font-family: 'Fondamento', sans-serif;
  font-size: 40px;
  font-style: italic;
  text-decoration: none;
}

.men:hover, .women:hover, .ceremony:hover, .reception:hover, .family:hover, .first-look:hover, .misc:hover, .video:hover {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  color: $primary-purple;
}
