<!DOCTYPE html>
<html>
  <head>
    <title>Bostonburnsbash</title>
    <link rel="icon" href="https://alphabetletters.org/alphabet-letter-downloads/cursive-letters/256/alphabet-letter-b.jpg">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
